backend/vendor/composer/autoload_classmap.php
backend/vendor/composer/autoload_files.php
backend/vendor/composer/autoload_psr4.php
backend/vendor/composer/autoload_static.php
backend/vendor/composer/installed.json

backend/vendor/composer/
backend/vendor/
/vendor/
node_modules/
npm-debug.log
yarn-error.log
backend/public/css
backend/public/json
backend/public/mix-manifest.json
backend/public/js/app.js
backend/public/css/app.css
.devcontainer

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant